/.BINValueConverter.java._trace
/.BINValueConverter.xtendbin
/.CHARValueConverter.java._trace
/.CHARValueConverter.xtendbin
/.HEXValueConverter.java._trace
/.HEXValueConverter.xtendbin
/.OCTValueConverter.java._trace
/.OCTValueConverter.xtendbin
/BINValueConverter.java
/CHARValueConverter.java
/HEXValueConverter.java
/OCTValueConverter.java
