/.Pds16asmUiModule.xtendbin
/.Pds16asmUiModule.java._trace
/Pds16asmUiModule.java
/.Pds16asmHighlightingConfiguration.java._trace
/.DefaultHighlightingConfiguration.java._trace
/.Pds16HighlightingConfiguration.java._trace
/.Pds16asmHighlightingCalculator.java._trace
/.Pds16asmTokenToldMapper1.java._trace
/.Pds16asmTokenToldMapper.java._trace
/.Pds16asmTokenAtributeIdMapper.java._trace
/.Pds16asmTokenAtributeIdMapper.xtendbin
/Pds16asmTokenAtributeIdMapper.java
